.books-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
} 

.book {
    border-style: solid;
    border-width: 2px; 
    border-color: #028CF3;
    margin: 10px;
    padding: 30px 10px 20px 10px;
    position: relative;
    background-color: #028cf3;
    color: #fff;
    box-shadow: 0px 3px 5px #20cbc1;
}

.book:hover {
    background-color: #0b4b7c;
    transition: 0.2s; 
    cursor: pointer;
    border: none;
}

.book-id {    
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 12px;
    font-style: italic;
}

.book-title {
    font-weight: 400;
    font-size: 18px;
}

.book-date {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 12px;
    font-style: italic;
}

.m-book-date {    
    position: absolute;
    color: #aaa;
    left: 10px;
    top: 14px;
    font-size: 15px;
    font-weight: bold;
}